button {
    height: 50px;
    width: 45%;
    max-width: 300px;
    border-radius: 20px;
    border: none;
    outline: 2px solid white;
    border: 2px solid black;
    background-image: linear-gradient(yellow, orange);
    font-size: 1.3em;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-image: linear-gradient(rgb(165, 107, 0), rgb(167, 167, 0));
    color: brown;
    transform: scale(1.1);
}

#movies_filters_button,
#search_movies_button {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
}
