footer {
    height: 200px;
    border-top: 2px solid yellow;
    background-image: url('../../assets/images/footer/wave.svg');
    background-repeat: repeat-x;
    background-size: cover;
    animation: wave 2s linear infinite;
}

#footer_content {
    height: 150px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: yellow;
    mix-blend-mode: difference;
}

#footer_socialmedias {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#footer_socialmedias a {
    font-size: 1.7em;
    color: black;
}

@keyframes wave {  
    from { background-position-x: 0; }
    to { background-position-x: -400px; }  
}