header {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: var(--alturaHeader);
  justify-content: center;
  box-shadow: 0px 5px 20px 0px black;
  position: fixed;
  z-index: 2;
  background-color: #d4d000;
}

#site_title {
  text-align: center;
  color: black;
  word-break: break-all;
}

#search_movies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#search_movies_form {
  display: flex;
  align-items: center;
  gap: 20px;
}


#movies_filters_button,
#search_movies_button {
  color: yellow;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid black;
  background-color: black;
  cursor: pointer;
}

#movies_filters_button:hover,
#search_movies_button:hover {
  background-color: yellow;
  color: black;
}


#search_movies_input {
  border: 2px solid black;
  height: 35px;
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
  background-color: grey;
}

#search_movies_input::placeholder {
  color: black;
}