header {
  display: flex;
  flex-direction: column;
  height: var(--alturaHeader);
  justify-content: center;
  box-shadow: 0px 5px 20px 0px black;
  position: sticky;
  z-index: 2;
  background-color: rgb(32, 32, 32)
}

#site_title {
  text-align: center;
  color: white;
  word-break: break-all;
}

#search_movies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#search_movies_form {
  display: flex;
  align-items: center;
  gap: 20px;
}


#movies_filters_button {
  color: black;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

#search_movies_button {
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

#search_movies_input {
  border: 2px solid black;
  width: 100%;
  height: 35px;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
  background-color: grey;
}

#search_movies_input::placeholder {
  color: black;
}