#home {
     display: flex;
     height: 100%;
     flex-direction: column;
     margin-top: 20px;
     padding: 0 10px;
}

#movie_poster_container {     
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative;
}

#picture_poster_home {
     width: 90%;
     position: relative;     
     
}

#poster_home {
     width: 100%;
     border: 5px solid yellow;
     border-radius: 20px;
     margin-bottom: 10px;
} 

#poster_home_shadow {
     position: absolute;
     background-image: linear-gradient(transparent, black);
     width: 100%;
     height: 100%;
     z-index: 1;
}

#movie_content {
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     bottom: 10%;
     z-index: 1;
     padding: 0 40px;
}

#movie_info {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

#movie_title {
     font-size: 2em;
}

#movie_description {
     padding: 10px;
}