#popular_movies {
    color: white;
    position: relative;
}

#populares_title {
    margin-top: 100px;
    color: yellow;
    text-align: center;
    font-size: 3em;
}

#populares_posters {
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 3px solid yellow;
    overflow: hidden;
    height: 300px;
}

.popular-poster-div {
    position: absolute;
    animation: slide 6s linear infinite;
    animation-delay: var(--delay);
    height: calc(100% - 10px);
    border-radius: 10px;
}

.popular-poster-div.active {
    display: flex;
    flex-direction: column;
}

.popular-poster-div.hidden {
    display: none;
}

.popular-poster {
    height: 100%;
    transition: all .7s ease;
    border: 3px solid rgb(194, 194, 0);
    border-radius: 10px;
}

.popular-poster-info {
    display: none;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 10% 10px;
}

@keyframes slide {
    from {
        left: 100%;
    }
    to {
        left: -200px;
    }
}