#filter_menu_desktop {
  height: 500px;
  width: 80%;
  background-color: rgb(46, 46, 46);
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px black;
  transition: transform 0.4s ease;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.filter-title {
  font-size: 2em;
  text-align: center;
  background-color: rgb(106, 106, 106);
  box-shadow: 0px 5px 12px -1px black;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  transform: translateY(-15%);
}

#generos {
  background-color: rgb(106, 106, 106);
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0px;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
  overflow-y: hidden;
}

#gender-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  overflow-y: scroll;
  width: 100%;
}

#gender-list li {
  width: 100%;
  text-align: center;
}

.gender:hover {
  background-color: black;
  color: wheat;
}

.gender label {
  font-size: 1.5em;
}

#anos {
  background-color: grey;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  overflow: hidden;
}

#populares {
  background-color: grey;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

#years_list {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  font-size: 1.5em;
  overflow-y: scroll;
}

#years_list li {
  text-align: center;
  width: 100%;
}

#years_list li:hover {
  background-color: black;
  color: wheat;
}
