#home {
     display: flex;
     height: 100%;
}

#movie_poster_container {
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
}

#poster_movie {
     height: 50%;
     border: 5px solid yellow;
} 

#movie_content {
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
}

#movie_info {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

#movie_title {
     font-size: 4em;
}

#poster {
     background-color: red;
     height: 100%;
     width: 500px;
}