section#home {
    display: flex;
    flex-direction: column;
    margin-top: 87px;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

#movie_poster_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

#poster_home_shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent, black);
    z-index: 1;
}

picture#picture_poster_home {
    width: 100%;
}

#poster_home {
    border-radius: 20px;
    width: 100%;
}

#movie_info {
    position: absolute;
    bottom: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 3;
}