#searched_movies_container {
    display: flex;
    flex-wrap: wrap; 
}

.movie-container {
    width: 150px;
    flex: 1 1 150px;     
    display: flex;
    flex-direction: column;
    padding: 5px;
}

picture.movie-poster-picture {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

picture.movie-poster-picture img {
    height: 100%;
    width: 100%;
}



#see_more_button_container {
    text-align: center;
}
