#searched_movies_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}
.movie-container {
    max-height: 300px;
}

picture.movie-poster-picture {
    
}

picture.movie-poster-picture img {
    border-radius: 20px;
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#see_more_button_container {
    text-align: center;
}
