* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
     min-height: 100vh;
     background-color: black;
     position: relative;
}

main {
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding: 10px; 
}