* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html, body{
     height: 100vh;
     background-color: black;
     position: relative;
}

main {
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding: 10px;

}

#overlay_filter {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 2;
     background-color: rgba(0, 0, 0, 0.623);
}