#filter_menu_desktop {
  height: 500px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.904);
  color: white;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px black;
  transition: transform 0.4s ease;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.filter-title {
  font-size: 2em;
  text-align: center;
  padding: 10px;
  width: 100%;
  transform: translateY(-15%);
  border-bottom: 5px solid white;
  color: yellow;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

#gender-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  width: 100%;
  overflow: auto;
}

.gender {
  display: flex;
  justify-content: center;
}

.gender-content {
  width: 250px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px;
}

.gender-content input[type="checkbox"] {
  accent-color: yellow;
  width: 20px;
  height: 20px;
}

.gender:hover {
  background-color: grey;
}

.gender label {
  font-size: 1.5em;
}

#years_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 1.8em;
  overflow-y: scroll;
}

#years_list li {
  text-align: center;
  width: 100%;
}

#years_list li:hover {
  background-color: grey;
}

#filter_button_div {
  grid-column: 1/3;
  text-align: center;
}

.filter_button {
  padding: 7px;
  box-shadow: 0px 0px 20px -5px yellow;
  border-radius: 20px;
  font-size: 1.5em;
  font-weight: 600;
  color: black;
  background-color: yellow;
  border: none;
  border: 3px solid black;
}

.filter_button:hover {
  background-color: rgb(192, 131, 0);
  box-shadow: 0px 0px 20px -5px rgb(192, 131, 0);
}

.filter_button:active {
  background-color: red;
  box-shadow: 0px 0px 20px -5px red;
}