h1, h2 {
    text-align: center;
    color: yellow;
}

h2 {
    margin: 5px 0;
    font-size: 1rem; 
}

p {
    color: yellow;
    text-align: justify;
}

#searched_movies_title {
    color: orange;
}

#searched_movies_title span{
    font-size: 1.4em;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}